<div class="ez-footer">
    <div class="ez-footer__brand-container">
        <img class="ez-footer__brand-img" src="{{ asset('bundles/ezplatformadminui/img/7x-logo.svg') }}" alt="{{ 'footer.ibexa_dxp'|trans|desc('Exponential Platform') }}" /> 
        <span class="ez-footer__brand-text">{{ 'footer.copyright'|trans({'%year%': "now"|date('Y')})|desc('Copyright &copy; %year% Exponential Platform. All right reserved')|raw }}</span>
    </div>
    <div class="ez-footer__links-container">
        <a class="ez-footer__link" target="_blank" href="https://se7enx.com/products">{{ 'footer.ibexa_dxp'|trans|desc('Exponential Platform') }}</a>
        <a class="ez-footer__link" target="_blank" href="https://support.exponential.earth/">{{ 'footer.ibexa_support'|trans|desc('Support') }}</a>
        <a class="ez-footer__link" target="_blank" href="https://doc.exponential.earth/">{{ 'footer.ibexa_documentation'|trans|desc('Documentation') }}</a>
    </div>
</div>
